In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import html_to_dataframe as td
import numpy as np
import re
df = td.to_dataframe('https://www.misprofesores.com/escuelas/UANL-FCFM_2263', 'fcfm')

import requests 
from bs4 import BeautifulSoup as bs
import json
import re
import pandas as pd

In [4]:
new_names = {
    'i' : 'ID', 
    'n' : 'Nombre', 
    'a' : 'Apellido', 
    'd' : 'Departamento / Facultad',
    'm' : '# de calif.',
    'c' : 'Promedio'
    }

df = df.rename(columns = new_names)

new_types = {
    'ID' : 'int',
    '# de calif.' : 'int',
    'Promedio' : 'float'
}

df = df.astype(new_types)

In [5]:
# Limpiar valores nulos, eliminar columnas irrelevantes
null_values = df.loc[df["Promedio"].isnull()]
df = df.dropna()

In [6]:
df['Razon'] = df['# de calif.'] / df['Promedio']

In [7]:
resultados_max = df.loc[
    (df["Promedio"] > df["Promedio"].mean()) & 
    (df["# de calif."] > df["# de calif."].mean()) & 
    (df['Razon'] > df['Razon'].mean())]

resultados_max = resultados_max.sort_values(by = "Razon", ascending = False).reset_index(drop = True).head(10)
resultados_max = resultados_max.sort_values(by = 'Promedio', ascending = False).reset_index(drop = True).head(10)

resultados_max

,ID,Nombre,Apellido,Departamento / Facultad,# de calif.,Promedio,Razon
0,74331,Diego Gerardo,Gómez Pérez,UANL- FCFM,47,9.9362,4.730179
1,56421,Elizabeth,Guajardo,Matemáticas ll,43,9.6279,4.466187
2,57318,Yazmany Jahaziel,Guerrero Ceja,Teoría de Autómatas,62,9.4194,6.582160
3,62548,adriana,arias,algebra,43,9.3488,4.599521
4,132288,Abraham Benito,Barragan Amigón,UANL,46,9.1522,5.026114
5,107316,Alfredo,Tlahuice Flores,Fisica,38,9.0789,4.185529
6,109778,Luis Gerardo,Garza Garza,FCFM/LCC,34,8.4412,4.027863
7,73401,Victoria Celeste,Rodriguez,matemáticas,43,8.3256,5.164793
8,70358,Abigail,Contreras Mendoza,Matemáticas,47,8.1915,5.737655
9,82557,Jonathan Ricardo,Moller Garza,UANL - FCFM,74,8.0541,9.187867

In [8]:
resultados_min = df.loc[
    (df["Promedio"] < df["Promedio"].mean()) & 
    (df["# de calif."] > df["# de calif."].mean()) & 
    (df['Razon'] > df['Razon'].mean())]

resultados_min = resultados_min.sort_values(by = "Razon", ascending = False).reset_index(drop = True).head(10)
resultados_min = resultados_min.sort_values(by = 'Promedio')

resultados_min

,ID,Nombre,Apellido,Departamento / Facultad,# de calif.,Promedio,Razon
0,78882,Jose Luis,Montoya,FCFM,64,2.7188,23.539797
3,107176,Homero Enrique,De la Fuente Garcia,FCFM/Matematicas,41,3.4878,11.755261
5,79063,Alejandro,Villarreal Mojica,FCFM BDPM/Progra2,36,3.6111,9.969261
1,34766,Sofía Herminia,De La Paz,Zúñiga,72,4.0833,17.632797
6,75187,Alejandro,Lara,FCFM / Fisica,40,4.1000,9.756098
2,62512,Rosa Alicia,Gámez de la Garza,Matemáticas,72,4.6528,15.474553
8,95110,Guillermo,Sanchez,FCFM,44,4.7500,9.263158
9,56302,Blanca Patricia,Sánchez Juárez,Circuitos Digitales,50,5.5400,9.025271
4,56416,eva,mirella,matematicas varias,64,6.3281,10.113620
7,78772,Gilberto,Tenorio,FCFM,66,7.0606,9.347648

In [9]:
# Indice del promedio mas alto
promedio_max = df["Promedio"].idxmax()
promedio_max

29

In [10]:
# Indice del numero de valoraciones mas alto
num_max = df["# de calif."].idxmax()
num_max

321

In [16]:
estadistica_descriptiva = df[['# de calif.', 'Promedio', 'Razon']].describe()

       # de calif.    Promedio       Razon
count   463.000000  463.000000  463.000000
mean     10.252700    7.831041    1.539115
std      12.246515    1.976682    2.322953
min       1.000000    2.000000    0.100000
25%       2.000000    6.666700    0.310344
50%       6.000000    8.384600    0.742422
75%      14.000000    9.418050    1.846154
max      74.000000   10.000000   23.539797